<div class="container">
    <div (click)="goToPokemon(pokemon)" *ngFor="let pokemon of pokemonList" class="pokemon-card" appBorderCard >
        <img class="img" src="{{pokemon.picture}}" alt="">
        <div class="text">
            <h2>{{ pokemon.name }}</h2>
            <p>{{ pokemon.created | date:"dd/MM/yyyy" }}</p>
            <span *ngFor="let type of pokemon.types" class="chip {{ type | pokemonTypeColor }}">
                {{ type }}
            </span>
        </div>
    </div>
</div>
