<div class="card">
  <div *ngIf="pokemon" class="container-detail">
    <h2 class="title">{{ pokemon.name }}</h2>
    <div class="card-info">
      <div class="card-image">
        <img [src]="pokemon.picture">
      </div>
      <table class="table-detail">
        <tbody>
          <tr class="un">
            <td class="table-title">Nom</td>
            <td class="strong content">{{ pokemon.name }}</td>
          </tr>
          <tr class="deux">
            <td class="table-title" >Points de vie</td>
            <td class="strong content" >{{ pokemon.hp }}</td>
          </tr>
          <tr class="un">
            <td class="table-title" >Dégâts</td>
            <td class="strong content" >{{ pokemon.cp }}</td>
          </tr>
          <tr class="deux">
            <td class="table-title" >Types</td>
            <td>
              <span *ngFor="let type of pokemon.types" class="content chip {{ type | pokemonTypeColor }}">
                {{ type }}
              </span>
            </td>
          </tr>
          <tr class="un">
            <td class="table-title" >Date de création</td>
            <td class="content" >{{ pokemon.created | date:"dd/MM/yyyy" }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>  
</div>
<div class="card-action">
  <a (click)="goToPokemonList()">Retour</a>
</div>
<h4 *ngIf='!pokemon' class="center">Aucun pokémon à afficher !</h4>
