.card{
    display: flex;
    flex-direction: column;
    align-items: center;

    .container-detail{
        border: 2px solid black;
        box-shadow: outset 0 0 10px black;
        width: 75%;
        background-color: antiquewhite;
        .title{
            font-size: 2rem;
            font-weight: bold;
            text-align: center;
            padding: 1em 0;
        }
        
        .card-info{
            display: flex;
            .card-image{
                width: 25%;
                margin-left: 1%;
                img{
                    width: 100%;
                }
            }
            .table-detail{
                width: 75%;
                margin-left: 2%;
                tbody{
                    tr{
                        td{
                            font-size: 1.2em;
                            align-items: center;
                        }
                        .table-title{
                            padding-left: 5%;
                        }
                        .strong{
                            font-weight: 700;
                        }
                        .chip {
                            padding: 5px 15px;
                            border-radius: 15px;
                            color: black;
                            margin-left: 0.5em;
                            &-red-lighten-1 {
                            background-color: #ef5350;
                            }
                            &-blue-lighten-1 {
                            background-color: #42a5f5;
                            }
                            &-green-lighten-1 {
                            background-color: #66bb6a;
                            }
                            &-brown-lighten-1 {
                            background-color: #8d6e63;
                            }
                            &-grey-lighten-3 {
                            background-color: #e0e0e0;
                            }
                            &-blue-lighten-3 {
                            background-color: #90caf9;
                            }
                            &-deep-purple-accent-1 {
                            background-color: #673ab7;
                            }
                            &-pink-lighten-4 {
                            background-color: #f8bbd0;
                            }
                            &-deep-purple-darken-2 {
                            background-color: #5e35b1;
                            }
                            &-lime-accent-1 {
                            background-color: #cddc39;
                            }
                            &-deep-orange {
                            background-color: #ff5722;
                            }
                            &-grey {
                            background-color: #9e9e9e;
                            }
                        }
                    }
                    .un{
                        background-color: #e0e0e0;
                    }
                    .deux{
                        background-color: #b2b2b2;
                    }
                }
            }
        }
    }
}
.card-action{
    margin-top: 1em;
    text-align: center;
    a{
        background-color: antiquewhite;
        padding: 0.5em 1.5em;
        border: 1px solid black;
        border-radius: 15px;
        box-shadow: 1px 1px 5px black;
        transition: 1.2s ease-in-out;
        &:hover{
            background-color: black;
            color: antiquewhite;
            box-shadow: 3px 3px 10px black;
        }
    }
    
}
h4{
    font-size: 1.2em;
    font-weight: bold;
}